APP_ENV=local
NODE_ENV=development
PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=petshop_user
DB_PASSWORD=petshop_password
DB_DATABASE=petshop_saas_local
JWT_SECRET=change_me
JWT_EXPIRATION=1d
PAYMENT_WEBHOOK_TOKEN=change_me_webhook_token
ABACETE_PAY_WEBHOOK_TOKEN=change_me_abacete_webhook_token
